@charset "ISO-8859-1";

.checked {
	color: orange;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.column {
	float: left;
	width: 50%;
	margin-bottom: 16px;
	padding: 0 8px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
}

.container {
	padding: 0 10px;
}

.container::after, .row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	color: grey;
}

a.button:link, a.button:visited {
	background-color: black;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

a.button:hover, a.button:active {
	background-color: lightblue;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../image/122.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}